body {
    margin: 0;
    text-align: center;
    font-family: cursive,'Merriweather', serif;
    
}
h1{
    color: #66BFBF;
    font-family: 'Sacramento', sans-serif;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h2:hover{
    color:#11999E;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
h3:hover{
    color:#66BFBF;
}
a{
    color:#eaf6f6;
    text-decoration: none;
    margin: 5rem 3rem;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: #11999E;
}
span{
    text-decoration: underline;
}
span:hover{
    color: #11999E;
}
hr{
    width: 4%;
    border-top: 5px dotted gray;
}
.top {
    background-color: #e4f9f5;
    position: relative;
}
.middle{
    margin: 5rem auto;
}
.profile{
    margin: 3rem auto;
}
.description {
    width: 40%;
    margin: 2rem auto;
}
.bottom{
    background-color: #66BFBF;
    padding: 3rem;
}
.top-cloud{
    position: relative;
    left: 300px;
    top: 50px;
}
.btm-cloud{
    position: relative;
    bottom: 300px;
}
.skills{
    margin-top: 3rem;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-img1{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
.skill-img2{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.contact-me{
    margin: 3rem;
}
.contact-me>p{
    margin: 3rem;
}
.btn {
    background: #66BFBF;
    color: #eaf6f6;
    border-radius: 8px;
    padding: 10px 20px;
}
.btn:active{
    background: #3cb0fd;
}
.copy{
    color: dimgrey;
    font-size: small;
    margin-top: 1rem;
    font-family: 'Merriweather', serif;
}
